:root {
  --ap-main-background-color: rgb(51, 54, 72);
  --ap-main-background-shadow: rgb(35, 38, 45);
  --ap-main-background-shadow-with-alpha: rgba(35, 38, 45, 0.3);
  --ap-main-background-highlight: rgb(77, 82, 98);
  --ap-main-header-color: rgb(155, 193, 159);
  --ap-main-font-color: rgb(177, 205, 197);
  --ap-main-accent-color: rgb(197, 148, 125);
  --ap-lightgray-color: rgb(184, 174, 139);
  --ap-gray-color: rgb(145, 145, 127);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  background-color: var(--ap-main-background-color);
  color: var(--ap-main-font-color);
  font-size: 16px;
  font-family:
    'Helvetica Neue',
    'Arial',
    'Hiragino Kaku Gothic ProN',
    'Hiragino Sans',
    'BIZ UDPGothic',
    'Meiryo',
    sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--ap-main-header-color);
}

a {
  color: var(--ap-main-font-color);
}

button {
  border-style: none;
}

/* contents */
main {
  min-height: calc(100vh - 1.6rem);
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  letter-spacing: 0.07rem;
}

h1 {
  padding-top: 2rem;
  font-size: 1.8rem;
  text-align: center;
}

h1 + #subtitle {
  margin: 0.6rem 0 2rem;
  color: var(--ap-main-header-color);
  text-align: center;
}

h2 {
  margin-top: 2rem;
  font-size: 1.4rem;
  text-align: center;
}

.separater {
  border: 0;
  border-top: 1px solid var(--ap-main-background-shadow);
  border-bottom: 1px solid var(--ap-main-background-highlight);
}

.collection-section {
  margin: 3rem 2rem;
  border: 1px solid var(--ap-main-accent-color);
  border-radius: 0.4rem;
}

.collection-section:first-of-type {
  margin-top: 2rem;
}

.collection-section:last-of-type {
  margin-bottom: 5rem;
}

.collection-section h3 {
  margin: 0.7rem 0.7rem 0.5rem;
  font-size: 1.2rem;
}

.image-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, 6rem);
  grid-gap: 0.5rem 1rem;
  justify-content: center;
  margin: 0.5rem 1.5rem;
}

.image-area img {
  width: 6rem;
  height: 6rem;
  border-radius: 0.4rem;
  outline-width: 1px;
}

.image-area img:active {
  outline-style: solid;
  outline-color: var(--ap-lightgray-color);
}

.image-area img.selected {
  outline-style: solid;
  outline-color: var(--ap-main-font-color);
}

.image-area + p {
  margin: 0.7rem 1rem;
  color: var(--ap-main-header-color);
}

/* source viewer */
#source-viewer {
  display: none;
  position: fixed;
  left: 0;
  bottom: 3rem;
  z-index: 10;
  width: 100%;
  height: 0;
  border-top: 2px solid var(--ap-main-background-shadow);
  border-bottom: 2px solid var(--ap-main-background-shadow);
  box-shadow:  0px 0px 5px 3px var(--ap-main-background-shadow-with-alpha);
  background-color: var(--ap-main-font-color);
  color: var(--ap-main-background-color);
  transition: height 0.4s;
}

#code-area {
  position: relative;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  margin: 3px;
  padding: 1rem;
  overflow-y: hidden;
  font-size: 0.9rem;
  white-space: pre-wrap;
}

#code-area code {
  font-family: 'Menlo', 'Consolas', 'Monaco', 'Courier New', monospace;
}

#source-viewer svg {
  display: none;
  position: absolute;
  top: -1.5rem;
  z-index: 11;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  fill: var(--ap-main-font-color);
  stroke: var(--ap-main-background-color);
}

#source-viewer svg:active {
  fill: var(--ap-lightgray-color);
}

#download-source-button {
  right: 5rem;
}

#close-source-viewer-button {
  right: 1.5rem;
}

/* explanation */
#explanation {
  margin: 2rem;
  line-height: 1.5rem;
}

#explanation h2 {
  margin: 3rem 0 1rem;
  padding-left: 1.7rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: left;
  text-indent: -1.7rem;
}

#explanation h2:first-of-type {
  margin-top: 2rem;
}

#explanation h2::before {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.3rem;
  background-color: var(--ap-main-accent-color);
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xNSAtMTUgMzAgMzAiPjxkZWZzPjxyZWN0IGlkPSJwIiB4PSItNCIgeT0iLTQiIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHJ4PSIxIi8+PC9kZWZzPjxnIHRyYW5zZm9ybT0icm90YXRlKDQ1KSI+PHVzZSBocmVmPSIjcCIgeD0iLTUiIHk9Ii01Ii8+PHVzZSBocmVmPSIjcCIgeD0iNSIgeT0iLTUiLz48dXNlIGhyZWY9IiNwIiB4PSItNSIgeT0iNSIvPjx1c2UgaHJlZj0iI3AiIHg9IjUiIHk9IjUiLz48L2c+PC9zdmc+");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 1.2rem 1.2rem;
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xNSAtMTUgMzAgMzAiPjxkZWZzPjxyZWN0IGlkPSJwIiB4PSItNCIgeT0iLTQiIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHJ4PSIxIi8+PC9kZWZzPjxnIHRyYW5zZm9ybT0icm90YXRlKDQ1KSI+PHVzZSBocmVmPSIjcCIgeD0iLTUiIHk9Ii01Ii8+PHVzZSBocmVmPSIjcCIgeD0iNSIgeT0iLTUiLz48dXNlIGhyZWY9IiNwIiB4PSItNSIgeT0iNSIvPjx1c2UgaHJlZj0iI3AiIHg9IjUiIHk9IjUiLz48L2c+PC9zdmc+");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 1.2rem 1.2rem;
  vertical-align: text-bottom;
  content: "";
}

#explanation h3 {
  margin: 1.2rem 0.3rem 1rem;
  font-size: 1rem;
}

#explanation p {
  margin: 0.8rem 0.5rem;
}

#explanation ol,
#explanation ul {
  margin-left: 2rem;
}

#explanation li {
  margin-top: 0.4rem;
}

#explanation code {
  background-color: var(--ap-main-font-color);
  color: var(--ap-main-background-color);
}

#download-button-sample {
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: text-bottom;
  fill: var(--ap-main-font-color);
  stroke: var(--ap-main-background-color);
}

/* bottom menu */
#bottom-menu {
  margin: 5rem 2rem 2rem;
  letter-spacing: 0.07rem;
}

#bottom-menu--left {
  display: inline-block;
  height: 2rem;
}

#bottom-menu--right {
  display: inline-block;
  position: absolute;
  right: 2rem;
  height: 2rem;
}

#bottom-menu--right a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#bottom-menu--right a:focus {
  outline: none;
}

#bottom-menu--right a:focus-visible {
  outline: var(--ap-main-background-color) auto 1px;
  outline: -webkit-focus-ring-color auto 1px;
}

/* contents in bottom menu */
#show-license {
  width: 6rem;
  height: inherit;
  border-radius: 0.4rem;
  background-color: var(--ap-main-accent-color);
  color: var(--ap-main-background-color);
  font-size: 1rem;
  font-weight: 600;
  vertical-align: top;
  cursor: pointer;
}

#show-license:hover {
  background-color: var(--ap-lightgray-color);
}

#show-license:active {
  background-color: var(--ap-gray-color);
}

#license-viewer p {
  margin: 1.3rem 0;
  font-size: 0.9rem;
}

#link-github svg {
  width: 2rem;
  height: 2rem;
  color: #fff;
}

#link-github svg:hover {
  color: rgba(255, 255, 255, 0.7);
}

/* footer */
footer {
  font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  line-height: 1.8rem;
  text-align: center;
}

footer p {
  color: var(--ap-main-header-color);
}

#svg-data {
  display: none;
}

@media (max-width: 375px) {
  main {
    letter-spacing: 0.2px;
  }

  .image-area {
    grid-gap: 0.5rem 0.5rem;
    margin: 0.5rem 0.6rem;
  }

  #explanation {
    margin: 1rem;
  }
}

@media (min-width: 376px) and (max-width: 414px) {
  .image-area {
    grid-gap: 0.5rem 0.5rem;
    margin: 0.5rem 1rem;
  }
}
